.back{
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    font-size: 50px;
    margin-left: 50px;

}

.back:hover{
    color:rgb(185, 28, 28);

}



.appheader{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:300;
    font-size: 100px;

}

.seperate{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:300;
    font-size: 100px;  
 
}

.container{
    display: block;

}


/*-------------------------------------------------------------------------------*/


.http{
    margin: 5px;
    margin-top: 100px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;

}




.httpdesc{
    display: block;
    margin: 5px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size: 50px;
    width: 1100px;

}


.components{
    display:flex;
    align-items: flex-start;

}

.httpdiagram{
    width:1000px;
    height: auto;
    margin-top: 85px;
    margin-left: 90px;
}

.httpcontain{
display: block;


}



/*-------------------------------------------------------------------------------*/



.components2{
  margin-top: 50px;
    float: right;
    display:flex;
    align-items: flex-start;

}

.ftpcontain{
    float: right;
    display: block;

}


.ftp{
    
    margin: 5px;
    margin-top: 100px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.ftpdesc{
    float: right;
    display: block;
    margin: 5px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size: 50px;
    width: 1100px;

}

.ftpdiagram{
    width:1000px;
    height: auto;
    margin-top: 85px;
    margin-left: 90px;
}



/*-------------------------------------------------------------------------------*/

.irc{
    margin: 5px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;

}




.ircdesc{
    display: block;
    margin: 5px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size: 50px;
    width: 1100px;

}


.components3{
  margin-top: 50px;
    float: left;
    display:flex;
    align-items: flex-start;

}



.irccontain{
display: block;


}


/*-------------------------------------------------------------------------------*/


.components4{
  margin-top: 50px;
    float: right;
    display:flex;
    align-items: flex-start;

}

.sshcontain{
    float: right;
    display: block;

}


.ssh{
    
    margin: 5px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.sshdesc{
    float: right;
    display: block;
    margin: 5px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size: 50px;
    width: 1100px;

}
/*-------------------------------------------------------------------------------*/

.sixsevencontain{

    display:inline-block;
    margin-top: 75px;
    width: 100%;
    
}

.sixsevenkid{

    display: inline-block;
    margin-left: 30%;
    width: 800px;

}

/*-------------------------------------------------------------------------------*/

.dns{
    margin: 5px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;

}




.dnsdesc{
    display: block;
    margin: 5px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size: 50px;
    width: 1100px;

}


.components5{
  margin-top: 50px;
    float: left;
    display:flex;
    align-items: flex-start;

}



.dnscontain{
display: block;
margin-top: 100px;

}

.dnsdiagram{
    width:1000px;
    height: auto;
    
    margin-left: 90px;
}

/*-------------------------------------------------------------------------------*/

.components6{
    float: right;
    display:flex;
    align-items: flex-start;

}

.urlcontain{
    float: right;
    display: block;

}


.url{
    
    margin: 5px;
    margin-top: 100px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.urldesc{
    float: right;
    display: block;
    margin: 5px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size: 50px;
    width: 1100px;

}

.urldiagram{
    width:1000px;
    height: auto;

    margin-left: 90px;
}